
:root {
    --primary: #7edb81;
    --secondary: #6e98c8;
    --dark: #212121;
    --light: #ffffff;
}
  
 
.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(12rem + 10vw);
    height: calc(24rem + 5vw);
    perspective: 1000px;
    overflow-y: auto;
}
  
  .cardInner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .cardInner.isFlipped {
    transform: rotateY(180deg);
  }
  
  
  .cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cardFaceFront {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardFaceFront h2 {
    color: #FFF;
    font-size: calc(1.2em + 1.2vw);
    font-weight: bold;
  }
  
  .cardFaceBack {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .cardContent {
    width: 100%;
    height: 100%;
  }
  
  .cardHeader {
    position: relative;
    padding: 30px 30px 20px;
  }
  
  .cardHeader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .pp {
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid rgb(31, 152, 82);
    object-fit: cover;
  }
  
  .cardHeader h2 {
    color: #FFF;
    font-size: calc(1em + 0.8vw);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .cardBody {
    padding: 1.8rem;
  }
  
  .cardBody h3 {
    color: var(--dark);
    font-size: calc(1em + 0.6vw);
    font-weight: 600;
  }
  
  .cardBody p {
    color: var(--dark);
    font-size: calc(0.8em + 0.4vw);
    line-height: 1.4;
  }