.aboutheading0 {
    font-size: calc(1.5rem + 1vw);
    font-weight: 600;
}

.aboutheading1 {
    font-size: calc(1rem + 1vw);
    font-weight: bolder;
}

.aboutheading2 {
    font-size: calc(0.75rem + 0.8vw);

}

.aboutheading3 {
    font-size: calc(0.5rem + 0.7vw);
}

