.aboutheading0 {
    font-size: calc(1.5rem + 1vw);
    font-weight: 600;
}

.aboutheading1 {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
}

.aboutheading2 {
    font-size: calc(0.75rem + 0.8vw);
}

