.homeContainer {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
    overflow: hidden;
    line-height: 1;
}

.button {
    position: relative;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-radius: 1rem;
    margin-right: 4vw;
    width: calc(6rem + 12vw);
    height: calc(2.5rem + 2vw);
    text-align: center;
    display: flex;
    align-items: center;
    background: var(--gradient);
    border-color: rgb(0, 0, 0);
    border-width: 0.01rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: var(--text-color);
    transition: filter 300ms;
    font-size: calc(0.6rem + 2.0625vw);
}

.button:hover {
    filter: brightness(1.05)
}

.button:focus {
    filter: brightness(0.95)
}

.heading1 {
    font-size: calc(2rem + 4.0625vw);
}

.heading2 {
    font-size: calc(1rem + 2.60625vw);
}

.heading3 {
    font-size: calc(0.5rem + 1.60625vw);
}

img {
    width: calc(16rem + 6.060625vw);
    border-width: calc(0.1rem + .40625vw);
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.homeProject {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
